* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway"; }

body {
  max-width: 100%;
  margin: 0;
  color: white;
  overflow-x: hidden; }
  body .header {
    background: #090416;
    color: white;
    background: url(../assets/img/cartafondo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0; }
    body .header .nav {
      width: 95%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between; }
      body .header .nav .nav__ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap; }
        body .header .nav .nav__ul .nav__a {
          color: white;
          padding: 10px;
          text-decoration: none;
          font-size: 20px; }
          body .header .nav .nav__ul .nav__a .nav__a:hover {
            text-decoration: underline;
            color: white; }
        body .header .nav .nav__ul .nav__a--activo {
          text-decoration: underline; }
    body .header .menu-responsive {
      display: none; }
    body .header .eslogan {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100vh; }
      body .header .eslogan .eslogan__titulo {
        /*
                
                */
        font-weight: 400;
        text-align: center;
        font-size: calc(1em + 2vw); }
        body .header .eslogan .eslogan__titulo .eslogan__titulo--strong {
          color: #FFB40D; }
      body .header .eslogan .eslogan__btn {
        margin-top: 20px;
        text-decoration: none;
        color: white;
        background-color: #FFB40D;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 7px;
        border: none;
        font-size: calc(0.5em + 1vw); }
      body .header .eslogan .eslogan__btn:hover {
        background-color: white;
        color: black; }
  body .contenedor-principal {
    margin: 0; }
    body .contenedor-principal .sidebar {
      display: flex;
      justify-items: center;
      align-items: center;
      margin-bottom: 30px; }
      body .contenedor-principal .sidebar .sidebar__img {
        width: 100%; }
    body .contenedor-principal .contenido {
      display: flex;
      align-items: center;
      justify-content: center; }
      body .contenedor-principal .contenido .contenido__info {
        width: 90%; }
        body .contenedor-principal .contenido .contenido__info .contenido__parrafo-contenedor {
          display: flex;
          flex-direction: column;
          align-items: center; }
        body .contenedor-principal .contenido .contenido__info .contenido__titulo {
          font-weight: 400;
          text-align: justify;
          color: black;
          font-size: calc(0.7em + 0.5vw); }
        body .contenedor-principal .contenido .contenido__info .contenido__parrafo {
          font-weight: 400;
          text-align: justify;
          color: black;
          font-size: calc(0.7em + 0.5vw); }
        body .contenedor-principal .contenido .contenido__info .contenido__btn {
          margin-top: 3%;
          text-decoration: none;
          color: white;
          background-color: #FFB40D;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 7px;
          border: none;
          font-size: calc(0.6em + 0.5vw); }
        body .contenedor-principal .contenido .contenido__info .contenido__btn:hover {
          background-color: black;
          color: white; }
  body .galeria {
    margin-top: 50px;
    margin-bottom: 50px; }
  body .footer {
    width: 100%;
    height: 200px;
    background: #030346;
    background: #090416;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body .footer .footer__nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%; }
      body .footer .footer__nav .footer__img {
        width: 150px; }
      body .footer .footer__nav .footer__subir {
        padding: 10px;
        border-radius: 50px; }
        body .footer .footer__nav .footer__subir .footer__subir-img {
          width: 30px; }
      body .footer .footer__nav .footer__subir:hover {
        background-color: white; }

@media screen and (max-width: 768px) {
  body .header {
    padding-left: 0;
    height: 50vh; }
    body .header .menu-responsive {
      display: flex;
      width: 100%;
      background-color: black;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      z-index: 1000; }
      body .header .menu-responsive .menu-responsive__img {
        padding: 10px; }
      body .header .menu-responsive .menu-responsive__contenedor-boton {
        margin-right: 10px;
        padding: 5px; }
    body .header .nav {
      background-color: black;
      top: 57px;
      left: -100%;
      width: 40%;
      height: 100%;
      margin: 0;
      position: fixed;
      z-index: 1000; }
      body .header .nav .nav__icono {
        display: none; }
      body .header .nav .nav__ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        padding-left: 0; }
        body .header .nav .nav__ul .nav__li {
          display: block;
          width: calc(1em + 35vw);
          border-bottom: 1px solid #FFB40D;
          padding: 10px;
          width: 100%; }
          body .header .nav .nav__ul .nav__li .nav__a {
            font-size: 15px; }
        body .header .nav .nav__ul .nav__li:hover {
          background-color: #FFB40D; }
  body .contenido__info {
    width: 100%; }
  body .footer {
    height: 80px; }
    body .footer .footer__nav .footer__img {
      width: 80px; } }

@media screen and (max-width: 500px) {
  .footer {
    height: 80px; }
    .footer .footer__nav .footer__img {
      width: 30px; }
    .footer .footer__nav .footer__subir .footer__subir-btn .footer__subir-img {
      width: 20px; } }
