* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway"; }

.inicio {
  max-width: 100%;
  margin: 0;
  color: white;
  overflow-x: hidden; }
  .inicio .header {
    color: white;
    background-image: url("../assets/img/inicio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0; }
    .inicio .header .nav {
      width: 95%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between; }
      .inicio .header .nav .nav__ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap; }
        .inicio .header .nav .nav__ul .nav__a {
          color: white;
          padding: 10px;
          text-decoration: none;
          font-size: 20px; }
          .inicio .header .nav .nav__ul .nav__a .nav__a:hover {
            text-decoration: underline;
            color: white; }
        .inicio .header .nav .nav__ul .nav__a--activo {
          text-decoration: underline; }
    .inicio .header .menu-responsive {
      display: none; }
    .inicio .header .eslogan {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100vh; }
      .inicio .header .eslogan .eslogan__titulo {
        /*
                
                */
        font-weight: 400;
        text-align: center;
        font-size: calc(1em + 2vw); }
        .inicio .header .eslogan .eslogan__titulo .eslogan__titulo--strong {
          color: #FFB40D; }
      .inicio .header .eslogan .eslogan__btn {
        margin-top: 20px;
        text-decoration: none;
        color: white;
        background-color: #FFB40D;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 7px;
        border: none;
        font-size: calc(0.5em + 1vw); }
      .inicio .header .eslogan .eslogan__btn:hover {
        background-color: white;
        color: black; }
  .inicio .contenedor-principal {
    margin: 0; }
    .inicio .contenedor-principal .sidebar {
      display: flex;
      justify-items: center;
      align-items: center;
      margin-bottom: 30px; }
      .inicio .contenedor-principal .sidebar .sidebar__img {
        width: 100%; }
    .inicio .contenedor-principal .contenido {
      display: flex;
      align-items: center;
      justify-content: center; }
      .inicio .contenedor-principal .contenido .contenido__info {
        width: 90%; }
        .inicio .contenedor-principal .contenido .contenido__info .contenido__parrafo-contenedor {
          display: flex;
          flex-direction: column;
          align-items: center; }
        .inicio .contenedor-principal .contenido .contenido__info .contenido__titulo {
          font-weight: 400;
          text-align: justify;
          color: black;
          font-size: calc(0.7em + 0.5vw); }
        .inicio .contenedor-principal .contenido .contenido__info .contenido__parrafo {
          font-weight: 400;
          text-align: justify;
          color: black;
          font-size: calc(0.7em + 0.5vw); }
        .inicio .contenedor-principal .contenido .contenido__info .contenido__btn {
          margin-top: 20px;
          text-decoration: none;
          color: white;
          background-color: #FFB40D;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 7px;
          border: none;
          font-size: calc(0.5em + 1vw); }
        .inicio .contenedor-principal .contenido .contenido__info .contenido__btn:hover {
          background-color: black;
          color: white; }
  .inicio .galeria {
    margin-top: 50px;
    margin-bottom: 50px; }
  .inicio .footer {
    width: 100%;
    height: 200px;
    background: #030346;
    background: #090416;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .inicio .footer .footer__nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%; }
      .inicio .footer .footer__nav .footer__img {
        width: 150px; }
      .inicio .footer .footer__nav .footer__subir {
        padding: 10px;
        border-radius: 50px; }
        .inicio .footer .footer__nav .footer__subir .footer__subir-img {
          width: 30px; }
      .inicio .footer .footer__nav .footer__subir:hover {
        background-color: white; }

.carta {
  max-width: 100%;
  margin: 0;
  color: white;
  overflow-x: hidden; }
  .carta .header {
    color: white;
    background-image: url("../assets/img/cartafondo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0; }
    .carta .header .nav {
      width: 95%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between; }
      .carta .header .nav .nav__ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap; }
        .carta .header .nav .nav__ul .nav__a {
          color: white;
          padding: 10px;
          text-decoration: none;
          font-size: 20px; }
          .carta .header .nav .nav__ul .nav__a .nav__a:hover {
            text-decoration: underline;
            color: white; }
        .carta .header .nav .nav__ul .nav__a--activo {
          text-decoration: underline; }
    .carta .header .menu-responsive {
      display: none; }
    .carta .header .eslogan {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100vh; }
      .carta .header .eslogan .eslogan__titulo {
        /*
                
                */
        font-weight: 400;
        text-align: center;
        font-size: calc(1em + 3.5vw);
        margin-bottom: 0; }
        .carta .header .eslogan .eslogan__titulo .eslogan__titulo--strong {
          color: #FFB40D; }
      .carta .header .eslogan .eslogan__linea {
        width: calc(1em + 15vw);
        height: 3px;
        background-color: #FFB40D;
        border: none;
        margin-top: 5px; }
  .carta .contenido {
    background-color: black;
    height: 200px;
    background-color: white;
    height: auto;
    margin-bottom: 80px; }
    .carta .contenido .contenido__textos {
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .carta .contenido .contenido__textos .contenido__h2 {
        margin-bottom: 30px;
        font-size: calc(1em + 1.5vw);
        font-weight: 600;
        width: 80%; }
      .carta .contenido .contenido__textos .coontenido__p {
        font-size: calc(1em + 0.5vw);
        width: 80%; }
        .carta .contenido .contenido__textos .coontenido__p .coontenido__strong {
          color: #FFB40D; }
  .carta .menus {
    height: auto;
    background-image: url(../assets/img/cartafondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .carta .menus .menus__italianos {
      margin: 40px auto 40px auto;
      padding: 20px;
      width: 40%;
      height: auto;
      background-color: rgba(255, 255, 255, 0.9); }
      .carta .menus .menus__italianos .menus__contenedor-italiano .menus__italianos-titulo {
        text-align: center;
        margin-bottom: 10px;
        padding: 5px, 5px, auto, 5px;
        color: black; }
      .carta .menus .menus__italianos .menus__contenedor-italiano .menus__italianos-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        padding: 10px;
        border-bottom: 1px dashed #FFB40D; }
    .carta .menus .menus__americanos {
      margin: 40px auto 40px auto;
      padding: 20px;
      width: 40%;
      height: auto;
      background-color: rgba(255, 255, 255, 0.9); }
      .carta .menus .menus__americanos .menus__contenedor-americano .menus__americanos-titulo {
        text-align: center;
        margin-bottom: 10px;
        padding: 5px, 5px, auto, 5px;
        color: black; }
      .carta .menus .menus__americanos .menus__contenedor-americano .menus__americanos-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        padding: 10px;
        border-bottom: 1px dashed #FFB40D; }
  .carta .bebidas {
    height: auto;
    background-image: url(../assets/img/cartafondo3.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .carta .bebidas .bebidas__menu {
      background-color: rgba(255, 255, 255, 0.9);
      margin: 40px auto 40px auto;
      padding-top: 15px; }
      .carta .bebidas .bebidas__menu .bebidas__contenedor-bebidas .bebidas__titulo {
        text-align: center;
        margin-bottom: 10px;
        padding: 5px, 5px, auto, 5px;
        color: black; }
      .carta .bebidas .bebidas__menu .bebidas__contenedor-bebidas .bebidas__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        padding: 10px;
        border-bottom: 1px dashed #FFB40D; }
  .carta .footer {
    width: 100%;
    height: 200px;
    background: #030346;
    background: #090416;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .carta .footer .footer__nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%; }
      .carta .footer .footer__nav .footer__img {
        width: 150px; }
      .carta .footer .footer__nav .footer__subir {
        padding: 10px;
        border-radius: 50px; }
        .carta .footer .footer__nav .footer__subir .footer__subir-img {
          width: 30px; }
      .carta .footer .footer__nav .footer__subir:hover {
        background-color: white; }

.especialidad {
  max-width: 100%;
  margin: 0;
  color: white;
  overflow-x: hidden; }
  .especialidad .header {
    color: white;
    background-image: url("../assets/img/recomendacionfondo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0; }
    .especialidad .header .nav {
      width: 95%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between; }
      .especialidad .header .nav .nav__ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap; }
        .especialidad .header .nav .nav__ul .nav__a {
          color: white;
          padding: 10px;
          text-decoration: none;
          font-size: 20px; }
          .especialidad .header .nav .nav__ul .nav__a .nav__a:hover {
            text-decoration: underline;
            color: white; }
        .especialidad .header .nav .nav__ul .nav__a--activo {
          text-decoration: underline; }
    .especialidad .header .menu-responsive {
      display: none; }
    .especialidad .header .eslogan {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100vh; }
      .especialidad .header .eslogan .eslogan__titulo {
        /*
                
                */
        font-weight: 400;
        text-align: center;
        font-size: calc(1em + 3.5vw);
        margin-bottom: 0; }
        .especialidad .header .eslogan .eslogan__titulo .eslogan__titulo--strong {
          color: #FFB40D; }
      .especialidad .header .eslogan .eslogan__linea {
        width: calc(1em + 15vw);
        height: 3px;
        background-color: #FFB40D;
        border: none;
        margin-top: 5px; }
  .especialidad .header .eslogan .eslogan__titulo {
    font-size: calc(1em + 5vw); }
  .especialidad .introduccion {
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px; }
    .especialidad .introduccion h2 {
      width: 90%;
      text-align: center;
      font-size: calc(1em + 1.5vw);
      font-weight: 600;
      margin-bottom: 50px; }
    .especialidad .introduccion p {
      margin-bottom: 40px;
      width: 90%;
      text-align: center;
      font-size: calc(1em + 0.5vw); }
    .especialidad .introduccion .resaltar {
      color: #FFB40D; }
  .especialidad .contenido {
    grid-area: contenido;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .especialidad .contenido .italiana {
      display: flex;
      width: 95%;
      height: 450px;
      justify-content: space-evenly;
      background-color: #ececec; }
      .especialidad .contenido .italiana .contenedor-visual {
        width: 40%;
        height: 100%; }
        .especialidad .contenido .italiana .contenedor-visual .imagen {
          width: 100%;
          height: 100%;
          background-image: url(../assets/img/recomedacionItaliana.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat; }
      .especialidad .contenido .italiana .contenedor-info {
        margin: 10px;
        width: 60%;
        padding: 20px; }
        .especialidad .contenido .italiana .contenedor-info h3 {
          text-align: center;
          font-size: calc(1em + 3vw);
          margin-bottom: 30px;
          font-weight: 600; }
        .especialidad .contenido .italiana .contenedor-info ol {
          list-style: none; }
          .especialidad .contenido .italiana .contenedor-info ol li {
            font-size: calc(1em + 0.5vw);
            margin-bottom: 30px; }
    .especialidad .contenido .vs h1 {
      text-align: center;
      font-weight: 800;
      margin: 80px 0 80px 0;
      font-size: calc(1em + 5vw); }
    .especialidad .contenido .americana {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      height: 450px; }
      .especialidad .contenido .americana .contenedor-visual {
        background-color: black;
        color: white;
        width: calc(1em + 20vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        border-radius: 40px;
        -webkit-box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.18);
        box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.18); }
        .especialidad .contenido .americana .contenedor-visual .imagen {
          width: 100%;
          height: 70%;
          background-image: url(../assets/img/recomendacionAmericana.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 40px 40px 0 0; }
        .especialidad .contenido .americana .contenedor-visual .nombre {
          padding-bottom: 50px;
          font-size: 25px; }
          .especialidad .contenido .americana .contenedor-visual .nombre h3 {
            font-size: calc(1em + 1.5vw);
            font-weight: 600; }
      .especialidad .contenido .americana .contenedor-info {
        margin: 10px; }
        .especialidad .contenido .americana .contenedor-info h3 {
          font-size: calc(1em + 3vw);
          margin-bottom: 30px;
          font-weight: 600; }
        .especialidad .contenido .americana .contenedor-info ol {
          list-style: none; }
          .especialidad .contenido .americana .contenedor-info ol li {
            font-size: calc(1em + 0.5vw);
            margin-bottom: 30px; }
  .especialidad .cta {
    display: flex;
    align-items: center;
    color: black;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px; }
    .especialidad .cta h3 {
      font-weight: 700;
      font-size: calc(1em + 3vw); }
    .especialidad .cta .cta__btn {
      margin-top: 20px;
      text-decoration: none;
      color: white;
      background-color: #FFB40D;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 7px;
      border: none;
      font-size: calc(0.5em + 1vw); }
    .especialidad .cta .cta__btn:hover {
      background-color: black; }
  .especialidad .footer {
    width: 100%;
    height: 200px;
    background: #030346;
    background: #090416;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .especialidad .footer .footer__nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%; }
      .especialidad .footer .footer__nav .footer__img {
        width: 150px; }
      .especialidad .footer .footer__nav .footer__subir {
        padding: 10px;
        border-radius: 50px; }
        .especialidad .footer .footer__nav .footer__subir .footer__subir-img {
          width: 30px; }
      .especialidad .footer .footer__nav .footer__subir:hover {
        background-color: white; }

@media screen and (max-width: 870px) {
  .contenido {
    height: 500px; }
    .contenido .italiana {
      display: flex;
      width: 100%;
      flex-direction: column;
      background-color: #ececec; }
      .contenido .italiana .contenedor-visual {
        width: 100%;
        height: 150px; }
        .contenido .italiana .contenedor-visual .imagen {
          width: 100%;
          height: 100%;
          background-image: url(../assets/img/recomedacionItaliana.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat; }
      .contenido .italiana .contenedor-info {
        margin: 10px;
        width: 100%;
        padding: 0; }
        .contenido .italiana .contenedor-info h3 {
          text-align: center;
          font-size: calc(1em + 3vw);
          margin-bottom: 30px;
          font-weight: 600; }
        .contenido .italiana .contenedor-info ol li {
          font-size: calc(1em + 0.5vw);
          margin-bottom: 30px;
          list-style: none;
          width: 90%;
          text-align: justify; } }

@media screen and (max-width: 768px) {
  .body .header {
    padding-left: 0;
    height: 50vh; }
    .body .header .menu-responsive {
      display: flex;
      width: 100%;
      background-color: black;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      z-index: 1000; }
      .body .header .menu-responsive .menu-responsive__img {
        padding: 10px; }
      .body .header .menu-responsive .menu-responsive__contenedor-boton {
        margin-right: 10px;
        padding: 5px; }
    .body .header .nav {
      background-color: black;
      top: 57px;
      left: -100%;
      width: 40%;
      height: 100%;
      margin: 0;
      position: fixed;
      z-index: 1000; }
      .body .header .nav .nav__icono {
        display: none; }
      .body .header .nav .nav__ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        padding-left: 0; }
        .body .header .nav .nav__ul .nav__li {
          display: block;
          width: calc(1em + 35vw);
          border-bottom: 1px solid #FFB40D;
          padding: 10px;
          width: 100%; }
          .body .header .nav .nav__ul .nav__li .nav__a {
            font-size: 15px; }
        .body .header .nav .nav__ul .nav__li:hover {
          background-color: #FFB40D; }
  .body .contenido__info {
    width: 100%; }
  .body .footer {
    height: 80px; }
    .body .footer .footer__nav .footer__img {
      width: 80px; } }

@media screen and (max-width: 500px) {
  .footer {
    height: 80px; }
    .footer .footer__nav .footer__img {
      width: 30px; }
    .footer .footer__nav .footer__subir .footer__subir-btn .footer__subir-img {
      width: 20px; } }

@media screen and (max-width: 1300px) {
  /*Media para el contenido*/
  .introduccion {
    margin-bottom: 20px;
    margin-top: 20px; } }

@media screen and (max-width: 780px) {
  /*contenido*/ }

@media screen and (max-width: 410px) {
  /*contenido*/
  /*media Call to Action*/
  .cta {
    grid-area: cta;
    display: flex;
    align-items: center;
    color: black;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 0; }
  .cta .btn {
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #FFB40D;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    border: none;
    font-size: calc(0.5em + 1vw); }
  .cta h3 {
    font-weight: 700;
    font-size: calc(1em + 3vw); }
  .cta .btn {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #FFB40D;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    border: none;
    font-size: calc(0.8em + 1vw); }
  .cta .btn:hover {
    color: white;
    background-color: #000000; } }
