        @import 'mixin.scss';
        $fuente: 'Raleway';
        $amarillo: #FFB40D;
        $negro: rgb(9, 4, 22);
        * {
            margin: 0;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: $fuente;
        }
        
        .inicio {
            max-width: 100%;
            margin: 0;
            color: white;
            overflow-x: hidden;
            .header {
                @include header('../assets/img/inicio.jpg');
                .nav {
                    width: 95%;
                    margin: 20px auto;
                    display: flex;
                    justify-content: space-between;
                    .nav__ul {
                        display: flex;
                        list-style: none;
                        flex-wrap: wrap;
                        .nav__a {
                            color: white;
                            padding: 10px;
                            text-decoration: none;
                            font-size: 20px;
                            .nav__a:hover {
                                text-decoration: underline;
                                color: white;
                            }
                        }
                        .nav__a--activo {
                            text-decoration: underline;
                        }
                    }
                }
                .menu-responsive {
                    //menu hamburguesa
                    display: none;
                }
                .eslogan {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    height: 100vh;
                    .eslogan__titulo {
                        /*
                
                */
                        font-weight: 400;
                        text-align: center;
                        font-size: calc(1em + 2vw);
                        .eslogan__titulo--strong {
                            color: $amarillo;
                        }
                    }
                    .eslogan__btn {
                        @include btn($amarillo);
                    }
                    .eslogan__btn:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
            .contenedor-principal {
                margin: 0;
                .sidebar {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    margin-bottom: 30px;
                    .sidebar__img {
                        width: 100%;
                    }
                }
                .contenido {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .contenido__info {
                        width: 90%;
                        .contenido__parrafo-contenedor {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        .contenido__titulo {
                            font-weight: 400;
                            text-align: justify;
                            color: black;
                            font-size: calc(0.7em + 0.5vw);
                        }
                        .contenido__parrafo {
                            font-weight: 400;
                            text-align: justify;
                            color: black;
                            font-size: calc(0.7em + 0.5vw);
                        }
                        .contenido__btn {
                            @include btn($amarillo);
                        }
                        .contenido__btn:hover {
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
            .galeria {
                margin-top: 50px;
                margin-bottom: 50px;
            }
            .footer {
                @include footer;
            }
        }
        
        .carta {
            @include body('../assets/img/cartafondo1.jpg');
            .contenido {
                background-color: black;
                height: 200px;
                background-color: white;
                height: auto;
                margin-bottom: 80px;
                .contenido__textos {
                    color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    .contenido__h2 {
                        margin-bottom: 30px;
                        font-size: calc(1em + 1.5vw);
                        font-weight: 600;
                        width: 80%;
                    }
                    .coontenido__p {
                        font-size: calc(1em + 0.5vw);
                        width: 80%;
                        .coontenido__strong {
                            color: #FFB40D;
                        }
                    }
                }
            }
            .menus {
                height: auto;
                background-image: url(../assets/img/cartafondo2.jpg);
                background-attachment: fixed;
                background-size: cover;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .menus__italianos {
                    margin: 40px auto 40px auto;
                    padding: 20px;
                    width: 40%;
                    height: auto;
                    background-color: rgba(255, 255, 255, 0.9);
                    .menus__contenedor-italiano {
                        .menus__italianos-titulo {
                            text-align: center;
                            margin-bottom: 10px;
                            padding: 5px, 5px, auto, 5px;
                            color: black;
                        }
                        .menus__italianos-info {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            color: black;
                            padding: 10px;
                            border-bottom: 1px dashed #FFB40D;
                        }
                    }
                }
                .menus__americanos {
                    margin: 40px auto 40px auto;
                    padding: 20px;
                    width: 40%;
                    height: auto;
                    background-color: rgba(255, 255, 255, 0.9);
                    .menus__contenedor-americano {
                        .menus__americanos-titulo {
                            text-align: center;
                            margin-bottom: 10px;
                            padding: 5px, 5px, auto, 5px;
                            color: black;
                        }
                        .menus__americanos-info {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            color: black;
                            padding: 10px;
                            border-bottom: 1px dashed #FFB40D;
                        }
                    }
                }
            }
            .bebidas {
                height: auto;
                background-image: url(../assets/img/cartafondo3.jpg);
                background-attachment: fixed;
                background-size: cover;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .bebidas__menu {
                    background-color: rgba(255, 255, 255, 0.9);
                    margin: 40px auto 40px auto;
                    padding-top: 15px;
                    .bebidas__contenedor-bebidas {
                        .bebidas__titulo {
                            text-align: center;
                            margin-bottom: 10px;
                            padding: 5px, 5px, auto, 5px;
                            color: black;
                        }
                        .bebidas__info {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            color: black;
                            padding: 10px;
                            border-bottom: 1px dashed #FFB40D;
                        }
                    }
                }
            }
            .footer {
                @include footer;
            }
        }
        
        .especialidad {
            @include body('../assets/img/recomendacionfondo1.jpg');
            .header {
                .eslogan {
                    .eslogan__titulo {
                        font-size: calc(1em + 5vw);
                    }
                }
            }
            .introduccion {
                display: flex;
                color: black;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 100px;
                margin-top: 100px;
                h2 {
                    width: 90%;
                    text-align: center;
                    font-size: calc(1em + 1.5vw);
                    font-weight: 600;
                    margin-bottom: 50px;
                }
                p {
                    margin-bottom: 40px;
                    width: 90%;
                    text-align: center;
                    font-size: calc(1em + 0.5vw);
                }
                .resaltar {
                    color: #FFB40D;
                }
            }
            .contenido {
                grid-area: contenido;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                .italiana {
                    display: flex;
                    width: 95%;
                    height: 450px;
                    justify-content: space-evenly;
                    background-color: rgb(236, 236, 236);
                    .contenedor-visual {
                        width: 40%;
                        height: 100%;
                        .imagen {
                            width: 100%;
                            height: 100%;
                            background-image: url(../assets/img/recomedacionItaliana.jpg);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                    .contenedor-info {
                        margin: 10px;
                        width: 60%;
                        padding: 20px;
                        h3 {
                            text-align: center;
                            font-size: calc(1em + 3vw);
                            margin-bottom: 30px;
                            font-weight: 600;
                        }
                        ol {
                            list-style: none;
                            li {
                                font-size: calc(1em + 0.5vw);
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
                .vs {
                    h1 {
                        text-align: center;
                        font-weight: 800;
                        margin: 80px 0 80px 0;
                        font-size: calc(1em + 5vw);
                    }
                }
                .americana {
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                    height: 450px;
                    .contenedor-visual {
                        background-color: black;
                        color: white;
                        width: calc(1em + 20vw);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        margin: 10px;
                        border-radius: 40px;
                        -webkit-box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.18);
                        box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.18);
                        .imagen {
                            width: 100%;
                            height: 70%;
                            background-image: url(../assets/img/recomendacionAmericana.jpg);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            border-radius: 40px 40px 0 0;
                        }
                        .nombre {
                            padding-bottom: 50px;
                            font-size: 25px;
                            h3 {
                                font-size: calc(1em + 1.5vw);
                                font-weight: 600;
                            }
                        }
                    }
                    .contenedor-info {
                        margin: 10px;
                        h3 {
                            font-size: calc(1em + 3vw);
                            margin-bottom: 30px;
                            font-weight: 600;
                        }
                        ol {
                            list-style: none;
                            li {
                                font-size: calc(1em + 0.5vw);
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
            .cta {
                display: flex;
                align-items: center;
                color: black;
                flex-direction: column;
                margin-bottom: 100px;
                margin-top: 100px;
                h3 {
                    font-weight: 700;
                    font-size: calc(1em + 3vw);
                }
                .cta__btn {
                    @include btn(#FFB40D);
                }
                .cta__btn:hover {
                    background-color: black;
                }
            }
            .footer {
                @include footer;
            }
        }
        
        @media screen and (max-width: 870px) {
            .contenido {
                height: 500px;
                .italiana {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    background-color: rgb(236, 236, 236);
                    .contenedor-visual {
                        width: 100%;
                        height: 150px;
                        .imagen {
                            width: 100%;
                            height: 100%;
                            background-image: url(../assets/img/recomedacionItaliana.jpg);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                    .contenedor-info {
                        margin: 10px;
                        width: 100%;
                        padding: 0;
                        h3 {
                            text-align: center;
                            font-size: calc(1em + 3vw);
                            margin-bottom: 30px;
                            font-weight: 600;
                        }
                        ol {
                            li {
                                font-size: calc(1em + 0.5vw);
                                margin-bottom: 30px;
                                list-style: none;
                                width: 90%;
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
        
        @import 'medias.scss';